/* Fondo oscuro */
body {
    background-color: #1b1b1b;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
    margin-top: 50px;
}

/* Título con efecto neón */
h1 {
    font-size: 2.5em;
    color: white; /* Morado neón */
    text-shadow: 0 0 10px #a64dff, 0 0 20px #a64dff, 0 0 30px #a64dff;
}

/* Estilo para los botones */
button {
    background-color: transparent;
    border: 2px solid #a64dff; 
    color: #a64dff;
    padding: 15px 30px;
    font-size: 1.2em;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    transition: 0.3s;
    box-shadow: 0 0 10px #a64dff, 0 0 20px #4db8ff, 0 0 30px #4db8ff; 
}

/* Efecto de resplandor al pasar el mouse sobre los botones */
button:hover {
    
    background-color: rgb(105, 63, 168);
    color: white;
    box-shadow: 0 0 20px #a64dff, 0 0 30px #4db8ff, 0 0 40px #4db8ff;
}

/* Contenedor del menú para centrar los botones en filas de dos */
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
}

/* Estilo para los enlaces que contienen los botones */
.menu a {
    flex: 0 1 45%; /* Cada botón ocupa el 45% del ancho */
    margin: 10px;
}

/* Último botón centrado */
.menu a:last-child {
    flex-basis: 100%; /* Ocupa el 100% del ancho */
    text-align: center;
}
